.tvShow-images {
  width: 220px;
  transition: all 0.2s;
}

.tvShow-images:hover {
  opacity: 0.3;
}

.tvShow-wrap:hover .tvShow-title {
  visibility: visible;
  opacity: 1;
}

.tvShow-title {
  visibility: hidden;
  transition: all 0.1s;
  color: mintcream;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 220px;
  font-size: 1.55em;
  border: 1px solid white;
}
