body {
  overflow-x: hidden;
}

.movie-fanart {
  width: 100%;
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.35;
  position: absolute;
  top: -0%;
  left: 0%;
  z-index: -999;
}

.movie-poster {
  width: 32%;
  display: block;
  margin: 0 0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-details {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 50%;
}

.movie-details p,
h3 {
  text-align: left;
  color: mintcream;
  font-size: 1.5em;
}

.movie-details h1 {
  text-align: left;
  color: mintcream;
  font-size: 3.5em;
  padding-bottom: 20px;
  text-shadow: 12px 12px 14px black;
}

.stream-button {
  text-decoration: none !important;
  background-color: #eee;
  padding: 1em 2em;
  border-radius: 12px;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  transition: all 0.2s;
}

.stream-button:hover {
  background-color: #1e3f75;
  color: mintcream;
}

@media only screen and (max-width: 600px) {
  .movie-poster {
    width: 50%;
    margin: 0 auto;
  }

  .movie-details {
    position: relative;
    left: auto;
    right: auto;
    margin: 20px;
  }

  .stream-button {
    position: relative;
    left: auto;
    right: auto;
    margin: 20px;
  }
}
