.movie-images {
  width: 220px;
  transition: all 0.2s;
}

.movie-images:hover {
  opacity: 0.3;
}

.movie-wrap:hover .movie-title {
  visibility: visible;
  opacity: 1;
}

.movie-title {
  visibility: hidden;
  width: 200px;
  transition: all 0.1s;
  color: mintcream;
  text-align: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  font-size: 1.25em;
}