@media only screen and (max-width: 360px) {
  .search-movie-images {
    width: 80%;
    transition: all 0.2s;
    margin-left: 20px;
  }

  .search-movie-title {
    width: 300px;
    margin: 20px;
  }
}
