input[type="text"] {
  height: 20px;
  width: 500px;
  font-size: 16px;
  border: none;
  border-radius: 34px;
  padding: 20px;
  background-color: mintcream;
}

input[type="text"]:focus {
  border: none;
  border: 1px solid royalblue;
  color: mintcream;
  outline: none;
  background: none;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.2s;
  box-shadow: 0 5px 12px 0 rgba(57, 59, 192, 0.513);
}

.movie-images {
  width: 220px;
  transition: all 0.2s;
}

.movie-images:hover {
  opacity: 0.3;
}

.movie-images:hover .movie-title {
  visibility: visible;
  opacity: 1;
}

.movie-title {
  visibility: hidden;
  width: 220px;
  transition: all 0.1s;
  color: mintcream;
  text-align: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  font-size: 1.25em;
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 360px) {
  .movie-images {
    width: 80%;
    transition: all 0.2s;
    margin-left: 20px;
  }

  .movie-title {
    width: 300px;
    margin: 20px;
  }
}
